In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools import add_constant
import joblib

In [2]:
# load dataset
df = pd.read_csv("../data/raw/Mall_Customers.csv")

In [3]:
df.columns

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [4]:
# rename columns
df = df.rename(columns={'Genre':'Sex', 'Annual Income (k$)':'Annual_Income', 'Spending Score (1-100)':'Spending_Score'})

In [5]:
df['Annual_Income'] = df['Annual_Income'] * 1000
df

     CustomerID     Sex  Age  Annual_Income  Spending_Score
0             1    Male   19          15000              39
1             2    Male   21          15000              81
2             3  Female   20          16000               6
3             4  Female   23          16000              77
4             5  Female   31          17000              40
..          ...     ...  ...            ...             ...
184         185  Female   41          99000              39
185         186    Male   30          99000              97
186         187  Female   54         101000              24
187         188    Male   28         101000              68
188         189  Female   41         103000              17

[189 rows x 5 columns]

In [6]:
# keep required columns
req_cols = ['Sex', 'Age', 'Annual_Income', 'Spending_Score'] 
df=df[req_cols]
df

        Sex  Age  Annual_Income  Spending_Score
0      Male   19          15000              39
1      Male   21          15000              81
2    Female   20          16000               6
3    Female   23          16000              77
4    Female   31          17000              40
..      ...  ...            ...             ...
184  Female   41          99000              39
185    Male   30          99000              97
186  Female   54         101000              24
187    Male   28         101000              68
188  Female   41         103000              17

[189 rows x 4 columns]

In [7]:
# encode categorical feature (Sex)
le = LabelEncoder()
df.loc[:, 'Sex'] = le.fit_transform(df['Sex'].astype(str))
df

    Sex  Age  Annual_Income  Spending_Score
0     1   19          15000              39
1     1   21          15000              81
2     0   20          16000               6
3     0   23          16000              77
4     0   31          17000              40
..   ..  ...            ...             ...
184   0   41          99000              39
185   1   30          99000              97
186   0   54         101000              24
187   1   28         101000              68
188   0   41         103000              17

[189 rows x 4 columns]

In [8]:
# Convert the Columns to Float Before Scaling
cols = ['Age', 'Annual_Income', 'Spending_Score']
df.loc[:, cols] = df[cols].astype(float)

In [9]:
print(df.columns.dtype)

object

In [10]:
# scale age Annual_income, Spending_score
scaler = StandardScaler()
df.loc[:,['Age','Annual_Income', 'Spending_Score']] = scaler.fit_transform(df[['Age','Annual_Income', 'Spending_Score']])
df

/tmp/ipykernel_39383/3319123811.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.40459590e+00 -1.26432186e+00 -1.33445888e+00 -1.12404782e+00
 -5.62951647e-01 -1.19418484e+00 -2.82403562e-01 -1.12404782e+00
  1.75157006e+00 -6.33088668e-01  1.96198112e+00 -2.82403562e-01
  1.33074793e+00 -1.05391080e+00 -1.42129519e-01 -1.19418484e+00
 -2.82403562e-01 -1.33445888e+00  9.09925800e-01 -2.82403562e-01
 -2.82403562e-01 -9.83773775e-01  4.89103672e-01 -5.62951647e-01
  1.05019984e+00 -7.03225690e-01  4.18966651e-01 -2.82403562e-01
  6.82815445e-02 -1.12404782e+00  1.47102197e+00 -1.26432186e+00
  9.80062821e-01 -1.47473292e+00  6.99514736e-01 -1.26432186e+00
  2.08555587e-01 -6.33088668e-01 -2.12266541e-01 -1.33445888e+00
  1.82170708e+00 -1.05391080e+00  6.29377715e-01 -5.62951647e-01
  6.99514736e-01 -1.05391080e+00  7.69651758e-01 -8.43499732e-01
 -7.03225690e-01 -5.62951647e-01  6.99514736e-01 -4.22677605e-01
 -5.62951647e-01  1.40088495e+00  7.69651758e-01  5.59240694e-01
  8.39788779e-01  2.10225516e+00 -8.43499732e-01  9.80062821e-01
  2.17239218e+00 -1.40459590e+00  1.96198112e+00  1.05019984e+00
  1.68143303e+00 -1.47473292e+00  2.78692608e-01  2.03211814e+00
 -1.40459590e+00 -4.92814626e-01  2.17239218e+00  5.59240694e-01
  1.47102197e+00  1.47102197e+00  1.40088495e+00 -9.13636754e-01
  4.18966651e-01  6.82815445e-02 -1.12404782e+00  6.99514736e-01
  1.26061091e+00 -7.19924981e-02  1.96198112e+00  4.89103672e-01
 -1.26432186e+00  6.29377715e-01  1.12033686e+00 -1.19418484e+00
 -3.52540583e-01  7.69651758e-01  2.03211814e+00 -1.47473292e+00
  6.29377715e-01  6.82815445e-02 -4.92814626e-01 -1.05391080e+00
  5.59240694e-01 -8.43499732e-01  6.29377715e-01 -1.33445888e+00
 -1.12404782e+00  6.99514736e-01  1.96198112e+00 -9.13636754e-01
  6.99514736e-01 -1.26432186e+00  1.89184410e+00  1.05019984e+00
  2.03211814e+00  1.89184410e+00  1.82170708e+00 -1.40459590e+00
 -7.19924981e-02 -1.40459590e+00 -1.47473292e+00 -1.40459590e+00
  1.68143303e+00  6.99514736e-01  8.39788779e-01  7.69651758e-01
 -8.43499732e-01 -7.19924981e-02  6.82815445e-02 -1.85547675e-03
 -1.12404782e+00 -5.62951647e-01  2.78692608e-01  6.82815445e-02
  1.40088495e+00 -7.19924981e-02  5.59240694e-01 -1.85547675e-03
 -9.83773775e-01 -5.62951647e-01 -1.33445888e+00 -7.03225690e-01
  3.48829630e-01 -4.92814626e-01 -1.40459590e+00 -2.82403562e-01
  1.26061091e+00 -4.92814626e-01 -7.73362711e-01 -4.92814626e-01
 -9.83773775e-01 -7.73362711e-01  6.29377715e-01 -4.92814626e-01
 -3.52540583e-01 -3.52540583e-01  2.78692608e-01 -1.85547675e-03
  3.48829630e-01 -7.19924981e-02  5.59240694e-01 -8.43499732e-01
 -1.42129519e-01 -6.33088668e-01 -3.52540583e-01 -6.33088668e-01
  1.19047389e+00 -7.03225690e-01 -1.40459590e+00 -5.62951647e-01
  7.69651758e-01 -2.12266541e-01  2.08555587e-01 -4.22677605e-01
 -2.12266541e-01 -4.92814626e-01  6.82815445e-02 -7.73362711e-01
 -2.12266541e-01 -2.12266541e-01  9.09925800e-01 -6.33088668e-01
  1.33074793e+00 -8.43499732e-01  1.40088495e+00 -2.82403562e-01
 -1.42129519e-01 -4.92814626e-01  4.89103672e-01 -7.03225690e-01
  1.38418566e-01 -6.33088668e-01  1.05019984e+00 -7.73362711e-01
  1.38418566e-01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,['Age','Annual_Income', 'Spending_Score']] = scaler.fit_transform(df[['Age','Annual_Income', 'Spending_Score']])
/tmp/ipykernel_39383/3319123811.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.86353594 -1.86353594 -1.81937743 -1.81937743 -1.77521891 -1.77521891
 -1.7310604  -1.7310604  -1.68690189 -1.68690189 -1.68690189 -1.68690189
 -1.64274338 -1.64274338 -1.64274338 -1.64274338 -1.59858487 -1.59858487
 -1.51026784 -1.51026784 -1.46610933 -1.46610933 -1.42195082 -1.42195082
 -1.28947528 -1.28947528 -1.28947528 -1.28947528 -1.24531677 -1.24531677
 -1.20115826 -1.20115826 -1.06868272 -1.06868272 -1.06868272 -1.06868272
 -1.02452421 -1.02452421 -0.89204867 -0.89204867 -0.84789016 -0.84789016
 -0.80373165 -0.80373165 -0.80373165 -0.80373165 -0.75957314 -0.75957314
 -0.75957314 -0.75957314 -0.67125611 -0.67125611 -0.6270976  -0.6270976
 -0.6270976  -0.6270976  -0.58293909 -0.58293909 -0.49462206 -0.49462206
 -0.49462206 -0.49462206 -0.45046355 -0.45046355 -0.40630504 -0.40630504
 -0.40630504 -0.40630504 -0.40630504 -0.40630504 -0.36214653 -0.36214653
 -0.31798802 -0.31798802 -0.14135397 -0.14135397 -0.14135397 -0.14135397
 -0.14135397 -0.14135397 -0.14135397 -0.14135397 -0.14135397 -0.14135397
 -0.14135397 -0.14135397 -0.00887843 -0.00887843  0.03528008  0.03528008
  0.07943859  0.07943859  0.12359711  0.12359711  0.12359711  0.12359711
  0.12359711  0.12359711  0.16775562  0.16775562  0.21191413  0.21191413
  0.21191413  0.21191413  0.21191413  0.21191413  0.25607264  0.25607264
  0.25607264  0.25607264  0.25607264  0.25607264  0.30023115  0.30023115
  0.34438967  0.34438967  0.34438967  0.34438967  0.43270669  0.43270669
  0.43270669  0.43270669  0.52102371  0.52102371  0.56518223  0.56518223
  0.60934074  0.60934074  0.60934074  0.60934074  0.60934074  0.60934074
  0.65349925  0.65349925  0.69765776  0.69765776  0.69765776  0.69765776
  0.74181627  0.74181627  0.78597479  0.78597479  0.8301333   0.8301333
  0.87429181  0.87429181  0.87429181  0.87429181  0.91845032  0.91845032
  0.91845032  0.91845032  0.91845032  0.91845032  0.91845032  0.91845032
  0.91845032  0.91845032  0.91845032  0.91845032  0.96260884  0.96260884
  1.05092586  1.05092586  1.22755991  1.22755991  1.27171842  1.27171842
  1.31587693  1.31587693  1.31587693  1.31587693  1.31587693  1.31587693
  1.36003544  1.36003544  1.36003544  1.36003544  1.580828    1.580828
  1.75746205  1.75746205  1.80162056  1.80162056  1.84577908  1.84577908
  1.9340961   1.9340961   2.02241313]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,['Age','Annual_Income', 'Spending_Score']] = scaler.fit_transform(df[['Age','Annual_Income', 'Spending_Score']])
/tmp/ipykernel_39383/3319123811.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.43668069  1.21791183 -1.73671767  1.06033159 -0.39728563  1.02093653
 -1.73671767  1.73004761 -1.85490285  0.86335629 -1.42155719  1.92702291
 -1.38216213  1.06033159 -1.46095225  1.13912171 -0.59426093  0.62698593
 -0.83063129  1.88762785 -0.59426093  0.90275135 -1.77611273  0.90275135
 -1.42155719  1.25730689 -0.71244611  0.43001063 -0.75184117  1.45428219
 -1.81550779  0.90275135 -1.81550779  1.65125749 -1.42155719  1.21791183
 -1.30337201  0.90275135 -0.94881647  0.98154147 -0.59426093  1.65125749
 -0.55486587  0.43001063 -0.87002635  0.58759087  0.19364027 -0.12152021
 -0.31849551 -0.31849551  0.07545509  0.39061557  0.15424521  0.39061557
 -0.20031033 -0.35789057 -0.00333503 -0.16091527  0.03606003 -0.16091527
  0.23303533  0.19364027  0.07545509  0.35122051  0.03606003  0.35122051
 -0.00333503 -0.08212515  0.35122051 -0.12152021  0.19364027 -0.31849551
 -0.04273009  0.23303533 -0.12152021  0.15424521  0.11485015 -0.08212515
  0.07545509 -0.31849551  0.03606003  0.19364027 -0.35789057 -0.23970539
  0.27243039 -0.16091527  0.31182545  0.19364027  0.39061557 -0.16091527
  0.19364027 -0.35789057 -0.04273009 -0.39728563 -0.31849551  0.07545509
 -0.12152021 -0.00333503 -0.31849551 -0.04273009 -0.35789057 -0.08212515
  0.35122051  0.19364027  0.23303533 -0.31849551 -0.00333503 -0.16091527
 -0.27910045 -0.08212515  0.07545509  0.15424521 -0.31849551 -0.16091527
 -0.08212515 -0.00333503 -0.27910045  0.35122051 -0.27910045  0.27243039
  0.23303533 -0.39728563  0.31182545  1.61186243 -0.83063129  1.06033159
 -0.59426093  1.76944267 -1.53974237  0.98154147 -1.61853249  0.98154147
 -0.63365599  0.82396123 -1.77611273  1.49367725 -1.69732261  0.90275135
 -1.57913743  0.86335629 -1.77611273  1.69065255 -0.39728563  1.45428219
 -1.50034731  1.84823279 -0.55486587  0.94214641 -1.10639671  1.57246737
 -1.30337201  1.49367725 -1.18518683  1.02093653 -1.34276707  1.53307231
 -1.93369297  1.09972665 -1.93369297  0.90275135 -0.59426093  1.29670195
 -1.77611273  1.69065255 -0.94881647  0.98154147 -1.18518683  1.76944267
 -0.90942141  0.50880075 -1.46095225  0.98154147 -1.57913743  1.65125749
 -1.46095225  1.41488713 -1.38216213  0.74517111 -1.42155719  1.57246737
 -0.71244611  1.41488713 -1.38216213  1.49367725 -0.43668069  1.84823279
 -1.02760659  0.70577605 -1.30337201]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,['Age','Annual_Income', 'Spending_Score']] = scaler.fit_transform(df[['Age','Annual_Income', 'Spending_Score']])

    Sex       Age  Annual_Income  Spending_Score
0     1 -1.404596      -1.863536       -0.436681
1     1 -1.264322      -1.863536        1.217912
2     0 -1.334459      -1.819377       -1.736718
3     0 -1.124048      -1.819377        1.060332
4     0 -0.562952      -1.775219       -0.397286
..   ..       ...            ...             ...
184   0  0.138419       1.845779       -0.436681
185   1 -0.633089       1.845779        1.848233
186   0  1.050200       1.934096       -1.027607
187   1 -0.773363       1.934096        0.705776
188   0  0.138419       2.022413       -1.303372

[189 rows x 4 columns]

In [11]:
df_subset = df.iloc[:, 1:]
df_const = add_constant(df_subset)

In [12]:
# check for multicollinearity
vif_data = pd.DataFrame({
    'Feature': df_const.columns,
    'VIF': [variance_inflation_factor(df_const.values, i)
            for i in range(df_const.shape[1])]
})
print(vif_data.sort_values('VIF', ascending=False))

          Feature       VIF
1             Age  1.126048
3  Spending_Score  1.125651
2   Annual_Income  1.000477
0           const  1.000000

In [13]:
np.savez(
    "../data/processed/processed_data.npz",
    X_train= df.to_numpy(dtype=np.float64),
    feature_names= df.columns.to_numpy()
)

In [14]:
# save scaler object
joblib.dump(scaler, "../data/processed/scaler.joblib")

['../data/processed/scaler.joblib']